/* p{
    animation-duration: 3s;
    animation-name: slidein;
} */

body{
    overflow: hidden; /* // para no ver la barra espaciadora */
}

p{
    animation-duration: 7s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes slidein{
    0%{
        margin-left: 100%;
        width: 300%;
    }
    30%{
        background-color: rgb(177, 143, 209);
    }60%{
        background-color: rgb(172, 140, 202);
    }
    90%{
        margin-left: 0%;
        width: 100%;
    }

}

/* 
@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
} */
