html, body{
    height: 100%;
}
#cover{
    background: #222 url(../img/mascotas.jpg) center no-repeat;
    background-size: 100%;
    color: rgb(19, 18, 18);
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
#cover-texto{
    width: 100%;
}