.grid{
    display: grid;
    grid-template-areas: "header header header" "nav  section aside" "footer footer footer";
    grid-template-columns: 300px 200px 300px;
    grid-template-rows: 200px 400px 200px;
}

header{
    grid-area: header;
    background-color: blue;
    
}
nav{
    grid-area: nav;
    background-color: green;
   
}
section{
    grid-area: section;
    background-color: red;
    
}
aside{
    grid-area:aside;
    background-color: yellow;
    
}
footer{
    grid-area: footer;
    background-color: skyblue;
    
}